<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 自动扫描且只扫描@Controller -->
    <context:component-scan base-package="com.baihui.hxtd" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder ignore-unresolvable="true" ignore-resource-not-found="true" location="classpath:application*.properties"/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="cacheSeconds" value="0"/>
        <property name="webBindingInitializer">
            <bean class="com.baihui.hxtd.soa.base.CustomWebBindingInitializer"/>
        </property>
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <constructor-arg value="UTF-8"/>
                </bean>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="prettyPrint" value="true"/>
                    <!--//TODO 看起来工作得不是很好-->
                    <property name="objectMapper">
                        <bean class="com.baihui.hxtd.soa.base.utils.mapper.HibernateAwareObjectMapper"/>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="treeNodeConverter" class="com.baihui.hxtd.soa.base.utils.ztree.TreeNodeConverter">
        <property name="conversionService" ref="conversionService"/>
    </bean>
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.baihui.hxtd.soa.system.controller.converter.OrganizationToTreeNode"/>
                <bean class="com.baihui.hxtd.soa.system.controller.converter.MenuToTreeNode"/>
            </set>
        </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/*.do*"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/system/toViewPage.do" />
            <mvc:exclude-mapping path="/error/**.do*"/>
            <bean class="com.baihui.hxtd.soa.system.controller.interceptor.ValidUrlInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/*.do*"/>
            <mvc:exclude-mapping path="/login.doself"/>
            <mvc:exclude-mapping path="/system/toViewPage.do" />
            <mvc:exclude-mapping path="/error/**.do*"/>
            <bean class="com.baihui.hxtd.soa.system.controller.interceptor.IdentityAuthenticationInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/*.do*"/>
            <mvc:exclude-mapping path="/login.doself"/>
            <mvc:exclude-mapping path="/logout.doself"/>
            <mvc:exclude-mapping path="/system/toViewPage.do" />
            <mvc:exclude-mapping path="/toViewPage.do"/>
            <mvc:exclude-mapping path="/error/**.do*"/>
            <bean class="com.baihui.hxtd.soa.system.controller.interceptor.DataStoreStatusInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/*.do"/>
            <mvc:mapping path="/**/*.doself"/>
            <mvc:exclude-mapping path="/login.doself"/>
            <mvc:exclude-mapping path="/logout.doself"/>
            <mvc:exclude-mapping path="/system/toViewPage.do" />
            <mvc:exclude-mapping path="/toViewPage.do"/>
            <mvc:exclude-mapping path="/error/**.do*"/>
            <bean class="com.baihui.hxtd.soa.system.controller.interceptor.AuthorityFilterFunctionInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/to*Page.do"/>
            <mvc:mapping path="/**/query.do"/>
            <mvc:exclude-mapping path="/system/toViewPage.do" />
            <mvc:exclude-mapping path="/toViewPage.do"/>
            <bean class="com.baihui.hxtd.soa.system.controller.interceptor.DataStoreInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/*.docomp"/>
            <bean class="com.baihui.hxtd.soa.system.controller.interceptor.AuthorityFilterComponentInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>

    <!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
    <mvc:default-servlet-handler/>

    <!-- 定义无需Controller的url<->view直接映射 -->
    <mvc:view-controller path="/" view-name="redirect:/login.doself"/>

    <!-- 定义JSP文件的位置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 上传拦截，如最大上传值及最小上传值 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--1024*10-->
        <property name="maxUploadSize" value="100000000"/>
    </bean>

    <!-- 将Controller抛出的异常转到特定View -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Throwable">forward:/error/adapter.do</prop>
            </props>
        </property>
    </bean>


</beans>