@charset "utf-8";
/* CSS Document */
*{font-family:'微软雅黑'; font-size:12px;}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ul , li, ol, fieldset, form, label, legend,a,table {margin: 0;padding: 0;text-decoration:none; list-style:none;  }
select, input{padding:0;}
a {outline: none;}
a:active {star:expression_r(this.onFocus=this.blur());}
a:focus { outline:0; }
table{table-layout:fixed;word-wrap:break-word; border:none;}
i{font-style:normal}
.globle_img{ background:url(../../images/public.png) no-repeat;}
.w1000p{ background: center center;width:1000px; height:100%; margin:0px auto;}
/*导航部分公共样式*/
.h_head_bg{ background:url(../../images/head_bg.png) center center repeat-x;height:108px; width:100%;}
.h_navbtn_l{ background:url(../../images/navbtn.png) no-repeat; background-position:left bottom;}
.h_navbtn_r{ background:url(../../images/navbtn.png) no-repeat; background-position: right bottom; height:32px;}
.h_navpitch_l{ background:url(../../images/navbtn_orange.png) no-repeat; background-position:left bottom;}
.h_navpitch_r{ background:url(../../images/navbtn_orange.png) no-repeat; background-position: right bottom;}
.h_navlist_growt{ background:url(../../images/nav_grow.png) no-repeat; width:115px; height:55px;}
.h_navbtn li{ float:left; margin-left:10px;}
.h_navbtn li .id_nav:hover div{ display:block;top:-10px; left:-31px; z-index:2;}
.h_nav_grow{}
.h_nav_grow ul li{clear:both;}
.id_grow{ z-index:10000; clear:both; display:block; margin-left:-10px;}
.id_grow li{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -17px; width:115px; line-height:33px; color:#e28d1f;}
.id_grow li a{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -17px; width:115px; line-height:33px;color:#e28d1f; display:block;}
.id_grow li a:hover{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -91px; width:115px; line-height:33px;color:#fff; display:block; }
.h_navlist_growb1{ background:url(../../images/nav_grow.png); background-position:bottom left; width:115px; height:17px; margin-left:10px;}
/*导航部分公共样式结束*/

/*当前页及功能条公共样式*/
.facing{ background-color:#d3d3d3; width:100%; height:25px;}
.head_add{ background-position:-2px 0px; width:20px; height:19px; cursor:pointer;}
.head_system{ background-position:-24px 0px; width:22px; height:19px; cursor:pointer;}
.head_news{ background-position:-49px 0px; width:22px; height:19px; cursor:pointer;}
.head_news1{ background-position:-456px -220px; width:22px; height:19px; cursor:pointer;}
.head_system1{ background-position:-478px -222px; width:22px; height:19px; cursor:pointer;}
.common_id1 li{ position:relative;}
.common_id1 li:hover .div1{ display:block; position:absolute; clear:both; top:30px; left:-40px; }
.common_id1 li:hover .div1 ul li{ text-align:center; line-height:30px;}
.common_id1 li:hover .div1 ul li a{ color:#222; display:block;}
.common_id1 li:hover .div1 ul li a:hover{ background-color:#f0f6ff; display:block;}
.common_id1 li:hover .div1 span{background-color:#fff; width:98px; height:100%; border-left:1px solid #336699; border-right:1px solid #336699;}

.common_id1 li:hover .div2{ display:block; position:absolute; clear:both; top:30px; left:-70px; width:150px; }
.common_id1 li:hover .div2 ul li{ text-align:left; padding-left:10px; line-height:30px;}
.common_id1 li:hover .div2 ul li a{ color:#222; display:block;}
.common_id1 li:hover .div2 ul li a:hover{ background-color:#f0f6ff; display:block;}
.common_id1 li:hover .div2 span{background-color:#fff; width:148px; height:100%; border-left:1px solid #336699; border-right:1px solid #336699;}

.common_id1 li:hover .div3{ display:block; position:absolute; clear:both; top:30px; left:-124px;  width:150px;}
.common_id1 li:hover .div3 ul li{ text-align:left; padding-left:10px; line-height:30px;}
.common_id1 li:hover .div3 ul li a{ color:#222; display:block;}
.common_id1 li:hover .div3 ul li a:hover{ background-color:#f0f6ff; display:block;}
.common_id1 li:hover .div3 span{background-color:#fff; width:148px; height:100%; border-left:1px solid #336699; border-right:1px solid #336699;}
/*当前页及功能条公共样式结束*/

/*文本框类型*/
.text_input1{ border:1px solid #999; width:190px; height:25px;}
.text_input2{ border:1px solid #999; width:91px; height:25px;}
.text_input3{ border:1px solid #999; width:270px; height:25px;}
.text_input4{ border:1px solid #999; width:125px; height:25px;}
.down_input1{ background-position:-72px 0px; width:215px; height:20px;}
.remarks_input1{ border:1px solid #999; width:85%; height:180px;resize:none}
.remarks_input2{ border:1px solid #999; width:85%; height:40px;resize:none}
.remarks_input3{ border:1px solid #999; width:70%; height:60px;resize:none}
.user_bg{ background-position:0px -310px; width:267px; height:40px;}
.password_bg{ background-position:0px -262px; width:267px; height:40px;}
.select1{width:270px;height:25px; line-height:18px; padding:2px 0; border:1px solid #999999;}
.select2{width:190px;height:25px; line-height:18px; padding:2px 0; border:1px solid #999999;}
.select3{width:125px;height:25px; line-height:18px; padding:2px 0; border:1px solid #999999;}

/*小元素*/
.input_close{ background:url(../../images/input_close.png) no-repeat; width:91px;  height:25px; cursor:pointer; background-position:top right;}
.input_close3{ background:url(../../images/input_close.png) no-repeat; width:125px;  height:25px; cursor:pointer; background-position:top right;}
.input_close2 {background: url(../../images/input_close.png) no-repeat;cursor: pointer;height: 25px; width: 230px;background-position:top right;}
.input_close1{ background:url(../../images/input_close.png) no-repeat; width:270px;  height:25px; cursor:pointer; background-position:top right;}
.time_closenone1{width:20px; height:22px; display:block;left:75px;top:0px}
.time_closenone2{width:20px; height:22px; display:block;left:175px;top:0px}
.tan_leftjian{ background-position:-460px -296px; width:40px; height:35px; top:40px; left:-39px; z-index:3}
.tan_leftjian2{ background-position:0px -182px; width:73px; height:18px; top:-17px; left:12px; z-index:3}
.tan_leftjian3{ background-position:0px -182px; width:73px; height:18px; top:-17px; left:43px; z-index:3}
.tan_leftjian4{ background-position:0px -182px; width:73px; height:18px; top:-17px; left:98px; z-index:3}
.tan_rightbox{background-color:#fff; width:238px; height:100%; border-left:1px solid #336699; border-right:1px solid #336699;}
.packup{ background-position:-487px -246px; width:13px; height:13px;}
.develop{ background-position:-473px -246px; width:13px; height:13px;}
.bigjiantou{ background-position:-271px -263px; width:28px; height:55px;}
.bigjiantoux{ background-position:-303px -263px; width:28px; height:55px;}



/*按钮*/
.inquiry_btn,.dump_btn,.delete_btn,.add_btn,.break_btn,.back_btn,.edit_btn,.s_detail_btn,.s_edit_btn,.s_dump_btn,.s_download,.s_preview,.s_inquiry,.s_reply,.s_change,.have_read,.no_read,.s_reply,.leading_in,.leading_out,.h_timeli,.h_on,.h_off,.h_tanliulan,.h_xiala,.h_shangla,.h_shouquan,.h_xiupass,.s_t0down,.s_toup{ cursor:pointer;}
.inquiry_btn{ background-position:-288px 0px; width:78px; height:27px;} 
.dump_btn{ background-position:-377px 0px; width:17px; height:19px;}
.delete_btn{ background-position:-413px 0px; width:78px; height:27px;}
.add_btn{ background-position:-413px -55px; width:78px; height:27px;}
.break_btn{ background-position:-413px -84px; width:78px; height:27px;}
.back_btn{ background-position:-413px -114px; width:78px; height:27px;}
.edit_btn{ background-position:-413px -143px; width:78px; height:27px;}
.s_detail_btn,.s_edit_btn,.s_dump_btn,.s_download,
.s_preview,.s_inquiry,.s_reply,.s_change,.s_todown,.s_toup,.s_print,.s_statistics,.s_approve,.s_contract,.s_onapprove,.s_goapprove,.s_rshenpi,.s_xshenpi,.s_nowshenpi,.s_noshenpi,.s_copy,.s_buy{ width:17px; height:17px;}
.s_detail_btn{ background-position:-482px -30px;}
.s_dump_btn{ background-position:-439px -30px;}
.s_edit_btn{ background-position:-461px -31px;}
.s_download{ background-position:-269px -30px;}
.s_preview{ background-position:-245px -30px;}
.s_inquiry{ background-position:-482px -202px;}
.s_todown{ background-position:-371px -121px;}
.s_toup{ background-position:-393px -121px;}
.s_print{ background-position:-372px -142px;}
.s_statistics{ background-position:-394px -142px;}
.s_approve{ background-position:-372px -164px;}
.s_onapprove{ background-position:-372px -183px;}
.s_goapprove{ background-position:-395px -183px;}
.s_contract{ background-position:-395px -165px;}
.s_rshenpi{ background-position:-372px -204px;}
.s_xshenpi{ background-position:-395px -204px;}
.s_nowshenpi{ background-position:-372px -227px;}
.s_noshenpi{ background-position:-395px -227px;}
.s_copy{ background-position:-374px -251px;}
.s_buy{ background-position:-397px -251px;}

.have_read{ background-position:-454px -202px; width:14px; height:12px;}
.no_read{ background-position:-468px -202px; width:14px; height:12px;}
.s_reply{ background-position:-396px 0px;}
.leading_in{ background:url(../../images/daoru.png) no-repeat; width:27px; height:27px;}
.leading_out{ background:url(../../images/daochu.png) no-repeat; width:27px; height:27px;}
.h_timeli{ background-position:-393px -79px; width:15px; height:16px;}
.h_on{ background-position:-254px -58px; width:41px; height:18px;}
.h_off{ background-position:-253px -79px; width:41px; height:18px;}
.h_tanliulan{ background:url(../../images/tan_btn1.png) no-repeat; width:80px; height:27px;}
.h_xiala{ background-position:-385px -101px; width:18px; height:18px;}
.h_shangla{ background-position:-385px -119px; width:18px; height:18px;}
.h_shouquan{ background-position:-373px -100px; width:18px; height:18px;}
.h_xiupass{ background-position:-373px -80px; width:18px; height:18px;}
.s_change{ background-position:-394px -100px;}

.g_small,.g_new,.g_close,.g_in_small,.g_in_new,.go_in_close,.go_add,.go_in_add{ width:20px; height:17px;}

.g_small{ background-position:-300px -58px;}
.g_new{ background-position:-324px -58px;}
.g_close{ background-position:-350px -58px;}
.g_in_small{ background-position:-300px -84px;}
.g_in_new{ background-position:-324px -84px;}
.go_in_close{ background-position:-350px -84px;}
.go_add{ background-position:-300px -107px;}
.go_in_add{ background-position:-332 -107px;}


/*所有按钮*/
.allbtn_l{ background:url(../../images/all_btnr.png) no-repeat; background-position:left bottom; width:13px; height:27px;}
.allbtn_r{ background:url(../../images/all_btnr.png) no-repeat; background-position: right bottom; height:27px;}
.allbtnno_l{ background:url(../../images/all_btnno.png) no-repeat; background-position:left bottom; width:13px; height:27px;}
.allbtnno_r{ background:url(../../images/all_btnno.png) no-repeat; background-position: right bottom; height:27px;}

/*列表*/
.table_headl,.table_headr,.table_headc{ height:50px;}
.table_blueheadl,.table_blueheadr,.table_blueheadc{ height:32px;}
.table_headl{ background-position:-2px -36px; width:6px;}
.table_headr{ background-position:-12px -36px; width:6px;}
.table_blueheadl{ background-position:-21px -37px; width:4px;}
.table_blueheadr{ background-position:-25px -36px; width:4px;}
.table_blueheadc{ background:url(../../images/blue_headc.png) repeat-x;}
.table_headc{ background:url(../../images/table_headc.png) repeat-x;}
.sort_top{ background-position:-21px -20px; width:11px; height:6px;}
.sort_btm{ background-position:-21px -27px; width:11px; height:6px;}
.sort_top_orange{ background-position:-34px -20px; width:11px; height:6px;}
.sort_btm_orange{ background-position:-34px -27px; width:11px; height:6px;}


/*分页*/
.prev,.next,.fenye_break{ width:24px; height:24px;}
.prev{ background-position:-410px -28px;}
.fenye_go{ background-position:-444px -171px; width:57px; height:30px;}
.next{ background-position:-324px -28px;}
.fenye_break{ background-position:-298px -28px;}
.fenye_ipt_text{width:21px; height:15px; top:5px; left:7px; border:1px solid #fff;}
.go_true{ width:18px; height:18px; display:block; position:absolute; top:5px; left:34px;}

/*footer*/
.foot_bg{ width:100%; background-color:#fff;}
.f_line{ background-color:#626262; height:5px; width:100%;}
.f_line2{ background-color:#626262; height:2px; width:100%;}

/*系统设置图标*/
.Personal_settings,.setting-icon10{ background-position:-139px -107px; width:65px; height:70px;}
.Personal_power,.setting-icon11{ background-position:-36px -36px; width:65px; height:70px;}
.institution_settings,.setting-icon12{ background-position:-1px -110px; width:65px; height:70px;}
.data_manage,.setting-icon13{ background-position:-68px -114px; width:65px; height:65px;}
.develop_space,.setting-icon14{ background-position:-103px -37px; width:65px; height:65px;}
.help{ background-position:-216px -112px; width:65px; height:65px;}
.templet{ background-position:-175px -35px; width:65px; height:70px;}


/*ie头部*/
.ie_head{ height:50px; width:100%;background-color:#f5f5f6;}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; border:none; overflow:hidden; display:block; background-color:#f5f5f6;} .b1,.b8{margin:0 5px;} .b2,.b7{margin:0 3px;} .b3,.b6{margin:0 2px;} .b4,.b5{margin:0 1px;}

.ba,.bb,.bc,.bd,.be,.bf,.bg,.bh{height:1px; font-size:1px; border:none; overflow:hidden; display:block;} .ba,.bh{margin:0 5px; background-color:#2e5378;} .bb,.bg{margin:0 3px; background-color:#315579;} .bc,.bf{margin:0 2px; background-color:#33567b;} .bd,.be{margin:0 1px; background-color:#34587e;}

.bb1,.bb2,.bb3,.bb4,.bb5,.bb6,.bb7,.bb8,.bb9,.bb0{height:1px; font-size:1px; border:none; overflow:hidden; display:block;} .bb1,.bb0{margin:0 5px; background-color:#336699;} .bb2,.bb9{margin:0 3px; background-color:#fff; border-left:2px solid #336699; border-right:2px solid #336699;} .bb3,.bb8{margin:0 2px; background-color:#fff; border-left:1px solid #336699; border-right:1px solid #336699;} .bb4,.bb7{margin:0 1px; background-color:#fff; border-left:1px solid #336699; border-right:1px solid #336699;} .bb5,.bb6{background-color:#fff; border-left:1px solid #336699; border-right:1px solid #336699;}


/*遮罩层*/
.zzc{  background:url(../../images/zzc.png) no-repeat; width:200px; height:90px;}
.id_table3li .h_tabbtn_l{background:url(../../images/tab_bg.png) no-repeat; background-position:left bottom; height:32px; cursor:pointer;}
.id_table3li .h_tabbtn_r{ background:url(../../images/tab_bg.png) no-repeat; background-position: right bottom; color:#fff; cursor:pointer;}
.id_table3li2 .h_tabbtn_l{ background:url(../../images/tab_pitchbg.png) no-repeat; background-position:left bottom; height:32px; cursor:pointer;}
.id_table3li2 .h_tabbtn_r{ background:url(../../images/tab_pitchbg.png) no-repeat; background-position: right bottom; color:#222; cursor:pointer;}


.id_tantable1 tr td .module {background:url(../../images/System_bg.png) repeat-x; border: 1px solid #c2c2c2; height: 20px;margin: 5px 5px 0 0; padding:5px; width:90%; height:100%}
.id_tantable1 li .module {background:url(../../images/System_bg.png) repeat-x; border: 1px solid #c2c2c2; height: 20px; padding:5px; width:90%; height:80px; cursor:pointer;}
.id_tantable1 li div:hover{ border:1px solid #e28d1f;}
.id_tantable1 li{ float:left; width:25%; margin-top:5px;}


/*没有数据的样式*/
.allnone{ background:url(../../images/allno.png) no-repeat; width:300px; height:75px; margin:0px auto;}
/*夏幼学*/
.id_grow li a.select{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -91px; width:115px; line-height:33px;color:#fff; display:block; }
/*工作台样式*/
.h_add_workbanch{border:3px dashed #999999;height: 130px;line-height: 130px; font-size:48px; color:#999999;}
.h_add_workbanch:hover{border:3px dashed #336699; color:#336699;}



