@charset "utf-8";
/* CSS Document */
*{font-family:'微软雅黑'; font-size:12px;}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ul , li, ol, fieldset, form, label, legend,a,table {margin: 0;padding: 0;text-decoration:none; list-style:none;  }
table{table-layout:fixed;word-wrap:break-word; border:none;}
i{font-style:normal}
.globle_img{ background:url(../../images/public.png) no-repeat;}
.w1000p{ background: center center;width:1000px; height:100%; margin:0px auto;}
/*导航部分公共样式*/
.h_head_bg{ background:url(../../images/head_bg.png) center center repeat-x;height:108px; width:100%;}
.h_navbtn_l{ background:url(../../images/navbtn.png) no-repeat; background-position:left bottom;}
.h_navbtn_r{ background:url(../../images/navbtn.png) no-repeat; background-position: right bottom; height:32px;}
.h_navpitch_l{ background:url(../../images/navbtn_orange.png) no-repeat; background-position:left bottom;}
.h_navpitch_r{ background:url(../../images/navbtn_orange.png) no-repeat; background-position: right bottom;}
.h_navlist_growt{ background:url(../../images/nav_grow.png) no-repeat; width:115px; height:55px;}
.h_navbtn li{ float:left; margin-left:10px;}
.h_navbtn li .id_nav:hover div{ display:block;top:-10px; left:-31px; z-index:2;}
.h_nav_grow{}
.h_nav_grow ul li{clear:both;}
.id_grow{ z-index:10000; clear:both; display:block; margin-left:-10px;}
.id_grow li{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -17px; width:115px; line-height:33px; color:#e28d1f;}
.id_grow li a{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -17px; width:115px; line-height:33px;color:#e28d1f; display:block;}
.id_grow li a:hover{background:url(../../images/nav_grow.png) repeat-y; background-position:0px -91px; width:115px; line-height:33px;color:#fff; display:block; }
.h_navlist_growb1{ background:url(../../images/nav_grow.png); background-position:bottom left; width:115px; height:17px; margin-left:10px;}
/*导航部分公共样式结束*/

/*当前页及功能条公共样式*/
.facing{ background-color:#d3d3d3; width:100%; height:25px;}
.head_add{ background-position:-2px 0px; width:20px; height:19px;}
.head_system{ background-position:-24px 0px; width:22px; height:19px;}
.head_news{ background-position:-49px 0px; width:22px; height:19px;}
.head_news1{ background-position:-456px -220px; width:22px; height:19px;}
.head_system1{ background-position:-478px -222px; width:22px; height:19px;}
.common_id1 li{ position:relative;}
.common_id1 li:hover div{ display:block; position:absolute; clear:both; top:20px; left:-30px; }
.common_id1 li:hover div ul li{ text-align:center; line-height:30px;}
.common_id1 li:hover div ul li a{ color:#222; display:block;}
.common_id1 li:hover div ul li a:hover{ background-color:#fff; display:block;}
/*当前页及功能条公共样式结束*/

/*文本框类型*/
.text_input1{ border:1px solid #999; width:190px; height:20px;}
.text_input2{ border:1px solid #999; width:91px; height:20px;}
.text_input3{ border:1px solid #999; width:270px; height:20px;}
.text_input4{ border:1px solid #999; width:125px; height:20px;}
.down_input1{ background-position:-72px 0px; width:215px; height:20px;}
.remarks_input1{ border:1px solid #999; width:85%; height:180px;resize:none}
.user_bg{ background-position:0px -310px; width:267px; height:40px;}
.password_bg{ background-position:0px -262px; width:267px; height:40px;}
.select1{width:273px;height:25px; line-height:18px; padding:2px 0; border:1px solid #999999;}
.select2{width:191px; *width:194px; width:193px !important; height:25px; line-height:18px; padding:2px 0; border:1px solid #999999;}
.select3{width:125px;height:25px; line-height:18px; padding:2px 0; border:1px solid #999999;}

/*小元素*/
.input_close{ background:url(../../images/input_close.png) no-repeat; width:91px;  height:20px; cursor:pointer; background-position:top right;}
.input_close1{ background:url(../../images/input_close.png) no-repeat; width:270px;  height:20px; cursor:pointer; background-position:top right;}
.time_closenone1{width:20px; height:22px; display:block;left:75px;top:0px}
.time_closenone2{width:20px; height:22px; display:block;left:175px;top:0px}
.tan_leftjian{ background-position:-4px -88px; width:11px; height:20px; top:40px; left:-9px; z-index:3}
.tan_rightbox{background-color:#f5f5f6; width:238px; height:100%; border-left:1px solid #666666; border-right:1px solid #666666;}



/*按钮*/
.inquiry_btn{ background-position:-288px 0px; width:78px; height:27px;} 
.dump_btn{ background-position:-377px 0px; width:17px; height:19px;}
.delete_btn{ background-position:-413px 0px; width:78px; height:27px;}
.add_btn{ background-position:-413px -55px; width:78px; height:27px;}
.break_btn{ background-position:-413px -84px; width:78px; height:27px;}
.back_btn{ background-position:-413px -114px; width:78px; height:27px;}
.edit_btn{ background-position:-413px -143px; width:78px; height:27px;}
.s_detail_btn,.s_edit_btn,.s_dump_btn,.s_download,.s_preview,.s_inquiry,.s_reply,.leading_in,.leading_out{ width:17px; height:17px;}
.s_detail_btn{ background-position:-482px -30px;}
.s_dump_btn{ background-position:-439px -30px;}
.s_edit_btn{ background-position:-461px -31px;}
.s_download{ background-position:-269px -30px;}
.s_preview{ background-position:-245px -30px;}
.s_inquiry{ background-position:-482px -202px;}
.have_read{ background-position:-454px -202px; width:14px; height:12px;}
.no_read{ background-position:-468px -202px; width:14px; height:12px;}
.s_reply{ background-position:-396px 0px;}
.leading_in{ background-position:-374px -60px;}
.leading_out{ background-position:-392px -60px;}
.h_timeli{ background-position:-393px -79px; width:15px; height:16px;}
.h_off{ background-position:-253px -58px; width:88px; height:37px;}
.h_on{ background-position:-253px -100px; width:88px; height:37px;}
.h_tanliulan{ background:url(../../images/tan_btn1.png) no-repeat; width:80px; height:27px;}
.h_xiala{ background-position:-385px -101px; width:18px; height:18px;}
.h_shangla{ background-position:-385px -119px; width:18px; height:18px;}

/*所有按钮*/
.allbtn_l{ background:url(../../images/all_btnr.png) no-repeat; background-position:left bottom; width:13px; height:27px;}
.allbtn_r{ background:url(../../images/all_btnr.png) no-repeat; background-position: right bottom; height:27px;}
.allbtnno_l{ background:url(../../images/all_btnno.png) no-repeat; background-position:left bottom; width:13px; height:27px;}
.allbtnno_r{ background:url(../../images/all_btnno.png) no-repeat; background-position: right bottom; height:27px;}

/*列表*/
.table_headl,.table_headr,.table_headc{ height:50px;}
.table_blueheadl,.table_blueheadr,.table_blueheadc{ height:50px;}
.table_headl{ background-position:-2px -36px; width:6px;}
.table_headr{ background-position:-12px -36px; width:6px;}
.table_blueheadl{ background-position:-21px -37px; width:4px;}
.table_blueheadr{ background-position:-25px -36px; width:4px;}
.table_blueheadc{ background:url(../../images/blue_headc.png) repeat-x;}
.table_headc{ background:url(../../images/table_headc.png) repeat-x;}
.sort_top{ background-position:-21px -20px; width:11px; height:6px;}
.sort_btm{ background-position:-21px -27px; width:11px; height:6px;}
.sort_top_orange{ background-position:-34px -20px; width:11px; height:6px;}
.sort_btm_orange{ background-position:-34px -27px; width:11px; height:6px;}


/*分页*/
.prev,.next,.fenye_break{ width:24px; height:24px;}
.prev{ background-position:-410px -28px;}
.fenye_go{ background-position:-444px -171px; width:57px; height:30px;}
.next{ background-position:-324px -28px;}
.fenye_break{ background-position:-298px -28px;}
.fenye_ipt_text{width:21px; height:15px; top:5px; left:7px; border:1px solid #fff;}

/*footer*/
.foot_bg{ width:100%; background-color:#fff;}
.f_line{ background-color:#626262; height:5px; width:100%;}
.f_line2{ background-color:#626262; height:2px; width:100%;}

/*系统设置图标*/
.Personal_settings{ background-position:-139px -107px; width:65px; height:70px;}
.Personal_power{ background-position:-36px -36px; width:65px; height:70px;}
.institution_settings{ background-position:-1px -110px; width:65px; height:70px;}
.data_manage{ background-position:-68px -114px; width:65px; height:65px;}
.develop_space{ background-position:-103px -37px; width:65px; height:65px;}
.templet{ background-position:-175px -35px; width:65px; height:70px;}


/*ie头部*/
.ie_head{ height:50px; width:100%;background-color:#f5f5f6;}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; border:none; overflow:hidden; display:block; background-color:#f5f5f6;} .b1,.b8{margin:0 5px;} .b2,.b7{margin:0 3px;} .b3,.b6{margin:0 2px;} .b4,.b5{margin:0 1px;}

.ba,.bb,.bc,.bd,.be,.bf,.bg,.bh{height:1px; font-size:1px; border:none; overflow:hidden; display:block;} .ba,.bh{margin:0 5px; background-color:#2e5378;} .bb,.bg{margin:0 3px; background-color:#315579;} .bc,.bf{margin:0 2px; background-color:#33567b;} .bd,.be{margin:0 1px; background-color:#34587e;}

.bb1,.bb2,.bb3,.bb4,.bb5,.bb6,.bb7,.bb8,.bb9,.bb0{height:1px; font-size:1px; border:none; overflow:hidden; display:block;} .bb1,.bb0{margin:0 5px; background-color:#666666;} .bb2,.bb9{margin:0 3px; background-color:#f5f5f6; border-left:2px solid #666666; border-right:2px solid #666666;} .bb3,.bb8{margin:0 2px; background-color:#f5f5f6; border-left:1px solid #666666; border-right:1px solid #666666;} .bb4,.bb7{margin:0 1px; background-color:#f5f5f6; border-left:1px solid #666666; border-right:1px solid #666666;} .bb5,.bb6{background-color:#f5f5f6; border-left:1px solid #666666; border-right:1px solid #666666;}


/*遮罩层*/
.zzc{  background:url(../../images/zzc.png) no-repeat; width:200px; height:90px;}


.id_table3li .h_tabbtn_l{background:url(../../images/tab_bg.png) no-repeat; background-position:left bottom; height:32px; cursor:pointer;}
.id_table3li .h_tabbtn_r{ background:url(../../images/tab_bg.png) no-repeat; background-position: right bottom; color:#fff; cursor:pointer;}
.id_table3li2 .h_tabbtn_l{ background:url(../../images/tab_pitchbg.png) no-repeat; background-position:left bottom; height:32px; cursor:pointer;}
.id_table3li2 .h_tabbtn_r{ background:url(../../images/tab_pitchbg.png) no-repeat; background-position: right bottom; color:#222; cursor:pointer;}


/*没有数据的样式*/
.allnone{ background:url(../../images/allno.png) no-repeat; width:550px; height:138px; margin:0px auto;}


