@charset "utf-8";
/* CSS Document */
.block{ display:block;}
.block_inline{ display:inline-block;}
.none{ display:none;}
.pr{ position:relative;}
.pa{ position:absolute;}
.cp{ cursor:pointer;}
.cb{ clear:both;}
.bdnone{ border:none;}
.bgnone{ background:none;}
.br5{ border-radius:5px 5px 0px 0px;behavior:url(../../images/iecss3.htc); position:relative; z-index:0; }
.margin0{ margin:0px auto;}
.tc{ text-align:center;}
.tr{ text-align:right}
.tl{ text-align:left;}
.fb{ font-weight:bold;}
.fbnone{ font-weight:100;}
.vm{vertical-align:middle;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f24{ font-size:24px}
.f36{ font-size:36px;}
.lh25{ line-height:25px;}
.lh32{ line-height:32px;}
.lh40{ line-height:40px;}
.lh50{ line-height:50px;}

.z-1{ z-index:-1;}
.z1{ z-index:1;}

.c_white{ color:#fff;}
.c_orange{ color:#e28d1f;}
.c_bebebe{ color:#bebebe;}
.c_red{ color:red;}
.w_red{ color:red;}
.c_222{ color:#222;}
.bg_c_blue{ background-color:#f0f6ff;}
.bg_c_white{ background-color:#fff;}
.bg_c_d3d3d3{ background-color:#d3d3d3;}
.bg_c_f3f3f3{ background-color:#f3f3f3;}
.bor_e9e9e9{ border:1px solid #e9e9e9;}
.bor_636363{ border:1px solid #636363;}
.bor_336699{ border:1px solid #336699;}
.bor_e28d1f{ border:1px solid #e28d1f;}
.w_blue{ color:#336699;}
.fl{ float:left;}
.fr{ float:right;}
.w_auto{ width:auto;}
.w15b{ width:15%;}
.w70b{ width:70%}
.w85b{ width:85%;}
.w90b{ width:90%;}
.w99b{ width:99%}
.w{ width:100%}
.w25{ width:25px;}
.w100{ width:100px;}
.w125{ width:125px;}
.w215{ width:215px;}
.w240{ width:240px;}
.w274{ width:274px;}
.w440{ width:440px;}
.w480{ width:480px;}
.w500{ width:500px;}
.w980{ width:980px;}



.h20{ height:20px;}
.h30{ height:30px;}
.h40{ height:40px;}
.h50{ height:50px;}
.h80{ height:80px;}
.h100{ height:100px;}
.h590{ height:590px;}

.ml3{ margin-left:3px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml35{ margin-left:25px;}
.ml40{ margin-left:40px;}
.ml80{ margin-left:80px;}


.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr35{ margin-right:25px;}
.mr50{ margin-right:50px;}
.mr80{ margin-right:80px;}


.mt22b{ margin-top:22%;}
.mt13b{ margin-top:13%;}
.mt8b{ margin-top:8%;}
.mt-5{ margin-top:-5px;}
.mt3{ margin-top:3px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt45{ margin-top:45px;}
.mt50{ margin-top:50px;}
.mt60{ margin-top:60px;}
.mt95{ margin-top:95px;}
.mt200{ margin-top:200px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}

.pt3{ padding-top:3px;}
.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}

.pr10{ padding-right:10px;}
.pr13{ padding-right:13px;}
.pr25{ padding-right:25px;}
.pr35{ padding-right:35px;}
.pl10{ padding-left:10px;}
.pl35{ padding-left:35px;}

.pb20{ padding-bottom:20px;}

.at-20{ top:-20px;}

.clearfix:after/*跟随其后的内容*/ { content:"."; display:block; height:0; clear:both; visibility:hidden;}/*必须有内容，否则浏览器不认*/

.clearfix { display:inline-block;}

.clear { clear:both; height:0px; font-size:0px; line-height:0px;} 

