@charset "utf-8";
/* CSS Document */
.time_close1{ top:-22px; left:80px;}
.time_close2{ top:-22px; left:210px;}
.h_pr1{width:1px; height:1px; position:relative; display:block;}
.w99b{ width:99%;}
.w95b{ width:95%}
.w96b{ width:96%}
.w90b{ width:90%}
.id_table1 li{float:left;}
.id_table2{border-collapse: collapse;
    border-spacing: 0;}
.id_table2 th{ font-size:14px;}
.id_table2 tr{ height:40px;}
.id_table2 tr:hover{ color:#e28d1f;}
.id_table2 tr:hover th{ color:#222;}
.id_table2 tr:hover a{ color:#e28d1f;}
.id_table2 tr td a{ color:#222222; text-decoration:underline;}
.id_table2 tr td{ text-align:center;}
.id_ul1 li{ float:left; margin-right:10px;}
.id_table3 li{ float:left; margin-right:10px;}
.id_ul2 li{ float:left; line-height:30px; margin-right:15px;}
.id_ul2 li a{ display:block; color:#222; line-height:28px;border:2px solid #E28D1F; padding-left:10px; padding-right:10px; text-align:center; height:30px;}
.id_ul2 li a:hover a{ background-position:-49px -19px; width:15px; height:14px;}
